Repository voxpupuli/puppet-falco, pull requests merged in 2023-04, with the labels that each got.

#19 v1.2.0 release prep
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#20 (ITSYS-2824) Falco >= 0.34.0 Compatibility
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/repo.pp
  manifests/service.pp
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#21 (ITSYS-2824) 2.0.0 release prep
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#22 modulesync 5.5.0
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#27 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
