Repository voxpupuli/puppet-falco, pull requests merged in 2023-07, with the labels that each got.

#23 Add watch_config _files parameter
  REFERENCE.md
  manifests/init.pp
  templates/falco.yaml.erb
Labels: enhancement

#26 Fix falco-driver-loader bpf
  lib/facter/falco.rb
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: bug

#25 Fix: Add missing dependencies when building bpf probe
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: bug

#30 v3.0.0 release prep
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
